<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Banners</string>
			<key>rule</key>
			<string>2367/3457/5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BelZhab</string>
			<key>rule</key>
			<string>23/23/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BelZhab Sediment</string>
			<key>rule</key>
			<string>145678/23/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bloomerang</string>
			<key>rule</key>
			<string>234/34678/24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bombers</string>
			<key>rule</key>
			<string>345/24/25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brain 6</string>
			<key>rule</key>
			<string>6/246/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brian's Brain</string>
			<key>rule</key>
			<string>/2/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Burst</string>
			<key>rule</key>
			<string>0235678/3468/9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BurstII</string>
			<key>rule</key>
			<string>235678/3468/9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caterpillars</string>
			<key>rule</key>
			<string>124567/378/4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chenille</string>
			<key>rule</key>
			<string>05678/24567/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Circuit Genesis</string>
			<key>rule</key>
			<string>2345/1234/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cooties</string>
			<key>rule</key>
			<string>23/2/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebb&amp;Flow</string>
			<key>rule</key>
			<string>012478/36/18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ebb&amp;Flow II</string>
			<key>rule</key>
			<string>012468/37/18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Faders</string>
			<key>rule</key>
			<string>2/2/25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fireworks</string>
			<key>rule</key>
			<string>2/13/21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Flaming Starbows</string>
			<key>rule</key>
			<string>347/23/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frogs</string>
			<key>rule</key>
			<string>12/34/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Frozen spirals</string>
			<key>rule</key>
			<string>356/23/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Glisserati</string>
			<key>rule</key>
			<string>035678/245678/7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Glissergy</string>
			<key>rule</key>
			<string>035678/245678/5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lava</string>
			<key>rule</key>
			<string>12345/45678/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lines</string>
			<key>rule</key>
			<string>012345/458/3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LivingOn TheEdge</string>
			<key>rule</key>
			<string>345/3/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Meteor Guns</string>
			<key>rule</key>
			<string>01245678/3/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nova</string>
			<key>rule</key>
			<string>45678/2478/25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>OrthoGo</string>
			<key>rule</key>
			<string>3/2/4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Prairie on fire</string>
			<key>rule</key>
			<string>345/34/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RainZha</string>
			<key>rule</key>
			<string>2/23/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rake</string>
			<key>rule</key>
			<string>3467/2678/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SediMental</string>
			<key>rule</key>
			<string>45678/25678/4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Snake</string>
			<key>rule</key>
			<string>03467/25/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>SoftFreeze</string>
			<key>rule</key>
			<string>13458/38/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Spirals</string>
			<key>rule</key>
			<string>2/234/5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Star Wars</string>
			<key>rule</key>
			<string>345/2/4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sticks</string>
			<key>rule</key>
			<string>3456/2/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Swirl</string>
			<key>rule</key>
			<string>23/34/8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ThrillGrill</string>
			<key>rule</key>
			<string>1234/34/48</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Transers</string>
			<key>rule</key>
			<string>345/26/5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TransersII</string>
			<key>rule</key>
			<string>0345/26/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Wanderers</string>
			<key>rule</key>
			<string>345/34678/5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Worms</string>
			<key>rule</key>
			<string>3467/25/6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Xtasy</string>
			<key>rule</key>
			<string>1456/2356/16</string>
		</dict>
	</array>
</plist>
